<div class="page-title"> <a href="javascript:void(0)" id="btn-back" ng-click="back()"><i class="fa fa-arrow-left"></i></a>
    <h3>Back- <span class="semi-bold" ng-bind="story.type | capitalize">Activity</span></h3>
    <!-- Judul bisa activity atau diary tergantung awal halamannya, mungkin bisa dibuat 2 page -->
    <!--<h3>Back- <span class="semi-bold">Diary</span></h3>-->
</div>
<ul class="cbp_tmtimeline cd-detail">
    <li class="m-b-30 no-margin" cg-busy="promise">
        <div class="cbp_tmlabel">
            <div class="post-content">
                <span class="time"><span ng-bind="(story.createdAt | amDateFormat:'hh:mm')"></span> <span class="semi-bold" ng-bind="story.createdAt | amDateFormat:'a'"></span></span>
                <div class="profile-pic"> <img width="35" height="35" ng-src="{{ story._teacher.avatar ? (story._teacher.avatar|apiFile:'avatar') : 'assets/img/profiles/bc.jpg' }}"  alt=""> </div>
                <div class="inline m-b-5">
                    <h4 class="semi-bold pull-left">
                    <span ng-bind="story._teacher.name">name</span>
                    <span class="muted" ng-bind="story._teacher.role | capitalize">role</span>
                    </h4>
                    <h6 class="semi-bold pull-left m-l-10 m-t-15">
                    To
                    </h6>
                    <h4 class="semi-bold pull-left">
                    <span ng-if="story.type === 'activity' || story.type === 'info'" tooltip="{{getDetailGroup(story)}}" tooltip-animation="false" tooltip-placement="right" tooltip-class="customClass"> <span ng-bind="story._class.length + story._group.length"></span> Groups</span>
                    <span ng-if="story.type === 'activity' || story.type === 'info'" class="muted">Selected Groups</span>
                    <!-- DIARY -->
                    <span ng-if="story.type === 'diary' || story.type === 'portfolio'" ng-bind="story._parent[0].name">Parent</span>
                    <span ng-if="story.type === 'diary' || story.type === 'portfolio'"  class="muted" ng-bind="story._parent[0].role | capitalize">Parents</span>
                    </h4>
                </div>
                <hr class="no-margin dashed"/>
                <p class="dark-text  m-t-10" ng-bind="story.info"></p>
                <div class="photo collage-big clearfix" collage-plus="{'targetHeight': 500, 'direction': 'horizontal'}">
                    <div class="work-masonry-thumb" ng-repeat="(key, photo) in story._photo" ng-if="photo.thumb"><a href="javascript:void(0)" ><img class="gallery-portfolio" ng-src="{{ photo.url|apiFile:'story' }}" href="{{ photo.url|apiFile:'story' }}" alt="" /></a></div>
                </div>
                <colorbox box-for=".gallery-portfolio" />
                <div class="user-action">
                    <a class="muted pull-left" href="javascript:void(0)"><i class="fa fa-comment"></i> <span ng-bind="story.reply.length">0</span> Comments</a>
                    <!-- <a class="muted pull-right pink" href="javascript:void(0)" ui-sref="main.comment-detail({id:1})"><i class="icon7p-love"></i> <span ng-bind="story._reply.length">0</span> Liked</a> -->
                </div>
                <ul class="comment-list">
                    <li ng-repeat="(key, reply) in story.reply" ng-init="reply.user = reply._teacher || reply._parent;">
                        <div class="post comments-section">
                            <div class="user-profile-pic-wrapper">
                                <div class="user-profile-pic-normal">
                                    <img width="35" height="35" ng-src="{{ reply.user.avatar ? (reply.user.avatar|apiFile:'avatar') : 'assets/img/profiles/ba.jpg' }}" alt="">
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="username">
                                    <span class="dark-text" ng-bind="reply.user.name"></span>
                                </div>
                                <div class="info" ng-bind-html="reply.info">
                                </div>
                                <div class="more-details">
                                    <ul class="post-links">
                                        <li><a href="javascript:void(0)" class="muted" am-time-ago="reply.createdAt"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="p-b-10 p-l-10 p-r-10 p-t-10 tiles grey">
                <div class="inline pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Write a comment" ng-model="story.newReply">
                    <span class="input-group-addon primary" ng-disabled="!story.newReply" ng-click="onSubmitReply(story)" style="cursor: pointer !important;"> <span class="arrow"></span><i class="glyphicon glyphicon-send"></i> </span> </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </li>
</ul>