<ul id="timeline" class="cbp_tmtimeline">
    <li class="reduce-margin" ng-if="scrollInitialized &amp;&amp; !stories.length">
        <div class="cbp_tmlabel">
            <div class="post-content">
                <p class="dark-text">No activity yet</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
    <li ng-repeat="(key, story) in stories | orderBy:'-createdAt'" ng-init="onInitStory(story)" ng-class="{'reduce-margin': story.hideDate}" story-card="story">
    </li>
    <li class="reduce-margin" ng-hide="scroll.disable">
        <div class="cbp_tmlabel">
            <div class="post-content text-center">
                <i class="fa fa-spinner fa-spin" style="font-size: 18px"></i>  Loading ...
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
</ul>