<div class="banner-profile">
    <div class="tiles cover-pic-wrapper">
        <img src="assets/img/cover.jpg" alt="">
        <figure class="children-pp">
            <img ng-src="{{user.avatar || 'assets/img/profiles/bc.jpg'}}" alt="pp" />
        </figure>
        <span class="name" ng-bind="user.name | capitalize">User Name</span>
    </div>
</div>
<div class="user-menu">
    <ul class="clearfix">
        <li>
            <a href="javascript:void(0)" ui-sref="main.diary({id: $stateParams.id})">Diary</a>
        </li>
        <li>
            <a href="javascript:void(0)" ui-sref="main.portfolio({id: $stateParams.id})" class="cur">Portfolio</a>
        </li>
    </ul>
</div>
<div class="page-title row">
    <div class="col-sm-5 no-padding">
        <h3><span class="semi-bold">Portfolio</span></h3>
    </div>
    <div class="col-sm-7 album-filter">
        <div class="pull-right">
            <ul class="nav nav-pills" id="tab-4">
                <li class="active"><a href="javascript:void(0)">Name</a></li>
                <li><a href="javascript:void(0)">Date</a></li>
            </ul>
        </div>
        <div class="pull-right sort-by">Sort by:</div>
    </div>
</div>
<div class="clear"></div>
<div class="row">
    <section class="col-sm-6" ng-repeat="(key, story) in stories | orderBy:'-createdAt'">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h3><a href="javascript:void(0)" ui-sref="main.portfolio-detail({id: story._id})"></a></h3>
                <div class="clearfix">
                    <strong class="small-text pull-left">(<span ng-bind="story._photo.length"></span> Photos)</strong>
                    <span class="small-text pull-right" ng-bind="(story.createdAt | amDateFormat:'D MMM Y')"></span>
                </div>
                <a href="javascript:void(0)" ui-sref="main.portfolio-detail({id: story._id})"<p ng-bind="story.info" style="color: inherit;"></p></a>
            </div>
            <div class="grid-body no-border album">
                <div class="photo Collage clearfix" collage-plus>
                    <div class="work-masonry-thumb" ng-repeat="(key, photo) in story._photo" ng-show="photo.url"><a><img ng-src="{{ photo.url|apiFile:'story' }}" alt="" /></a></div>
                </div>
                <!-- <div class="tag">
                    <strong>Tags :</strong>
                    Sport, Math, Art
                </div> -->
            </div>
        </div>
    </section>
</div>