<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>
            Azure Login
        </title>
        <script type="text/javascript">
            function putData() {
            if (window.opener) {
            window.authOk(<%= token %>);
            }
            window.close();
            }
            function closeWindow() {
            if (window.opener)
            window.opener.authClose();
            }
        </script>
    </head>
    <body onload="javascript:putData();" onunload="javascript:closeWindow()">
    Please wait ....
    </body>
</html>
