.display-block {
    display: block !important;
}
.reduce-margin {
    margin-top: 20px !important;
}
.add-status .image-area {
    max-height: 110px !important;
    overflow-y: auto;
}
.unread, tr.unread > td {
    background-color: #e2e8eb !important;
}