<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="header navbar navbar-inverse ">
            <!-- BEGIN TOP NAVIGATION BAR -->
            <div class="navbar-inner">
                <!-- END RESPONSIVE MENU TOGGLER -->
                <div class="menu-bar clearfix">
                    <ul class="nav quick-section visible-xs">
                        <li class="quicklinks">
                            <a href="javascript:void(0)" class="" onclick="$('.page-content .content aside').fadeToggle()">
                            <span class="iconset top-menu-toggle-dark"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="container">
                        <section class="header-identity col-sm-3">
                            <figure>
                                <a href="javascript:void(0)" ui-sref="main.activity" ng-if="appAuth.profile.role === 'teacher'"> <img src="assets/img/scholl-logo.png" alt="logo" /> </a>
                                <a href="javascript:void(0)" ui-sref="main.diary({id: appAuth.profile._student[0]._id})" ng-if="appAuth.profile.role === 'parent'"> <img src="assets/img/scholl-logo.png" alt="logo" /> </a>
                            </figure>
                            <span ng-bind="appAuth.data.school_name">School Name</span>
                        </section>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-7 logo">
                                    <img src="assets/img/logo-biru.png" alt="logo" />
                                </div>
                                <div class="col-sm-5">
                                    <!-- BEGIN USER TOGGLER -->
                                    <div class="pull-right user">
                                        <div class="chat-toggler nav" data-dropdown="">
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-content='' data-toggle="dropdown" data-dropdown-toggle="">
                                            <span ng-bind="appAuth.profile.name">User Name</span>
                                            <span class="profile-pic"> <img ng-src="{{ appAuth.profile.avatar ? (appAuth.profile.avatar|apiFile:'avatar') : 'assets/img/profiles/bc.jpg'}}" alt="avatar" /> </span>
                                            <span class="iconset top-down-arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                                                <li><a href="javascript:void(0)" ui-sref="main.profile"> My Account</a> </li>
                                                <!-- <li><a href="javascript:void(0)" ui-sref="main.calendar">My Calendar</a> </li> -->
                                                <!-- <li><a href="javascript:void(0)" ui-sref="main.calendar"> My Inbox&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a> </li> -->
                                                <li class="divider"></li>
                                                <li><a href="javascript:void(0)" ng-click="onLogoutClick()"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <section class="pull-right">
                                        <ul class="nav quick-section" ng-controller="NotificationCtrl">
                                            <li class="quicklinks">
                                                <a data-toggle="dropdown" id="message-trigger" data-placement="bottom" class="dropdown-toggle  pull-right" href="javascript:void(0)" popover-placement="bottom" popover-trigger="click" popover-template="'app/main/notification-template.html'" popover-animation="false" popover-popup-delay="0" popover-is-open="notificationOpened">
                                                    <i class="fa fa-comment">&nbsp;</i>
                                                    <span class="badge badge-important animated bounceIn" id="chat-message-count" ng-bind="unreadCount" ng-if="unreadCount > 0">0</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END TOP NAVIGATION BAR -->
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row" id="page-container" infinite-scroll="onScroll()" infinite-scroll-disabled="scroll.disable" infinite-scroll-distance="scroll.distance">
    <a href="javascript:void(0)" class="scrollup" ng-click="scrollTop()">Scroll</a>
    <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content">
        <div class="container content profile-detail">
            <div class="row">
                <aside id="sidebar_menu" class="col-md-3">
                    <ul class="main-menu animated fadeIn" ng-if="$state.current.name !== 'main.profile'">
                        <li ng-if="appAuth.data.role === 'teacher'">
                            <button ng-click="onPostNewClick()" id="post_new" class="btn btn-primary btn-sm"><i class="no-margin fa fa-plus"></i> <span class="visible-md">Post New</span></button>
                            <ul class="create-new">
                                <li><a href="javascript:void(0)" id="post_diary" ng-click="openForm('diary')"><i class="icon7p-diary"></i> <span>Post Diary</span></a></li>
                                <li><a href="javascript:void(0)" id="post_portfolio" ng-click="openForm('portfolio')"><i class="icon7p-portofolio"></i><span> Post Portfolio</span></a></li>
                                <li><a href="javascript:void(0)" id="post_activity" ng-click="openForm('activity')"><i class="icon7p-activity"></i><span> Post Activity</span></a></li>
                                <li><a href="javascript:void(0)" id="post_info" ng-click="openForm('info')"><i class="icon7p-info"></i> <span>Post Info</span></a></li>
                            </ul>
                        </li>
                        <li ng-if="appAuth.data.role === 'teacher'"><a href="javascript:void(0)" ui-sref="main.student" ng-class="{cur: $state.current.name === 'main.student' || $state.current.name === 'main.diary' || $state.current.name === 'main.portfolio'|| $state.current.name === 'main.portfolio-detail'}"><i class="icon7p-user"></i> Student <span class="badge badge-green">New</span></a></li>
                        <li ng-if="appAuth.data.role === 'parent'" class="parent-menu"><a href="javascript:void(0)" ui-sref="main.diary({id: appAuth.profile._student[0]._id })" ng-class="{cur: $state.current.name === 'main.student' || $state.current.name === 'main.diary' || $state.current.name === 'main.portfolio'|| $state.current.name === 'main.portfolio-detail'}"><i class="icon7p-user"></i> Diary &amp; Portfolio <span class="badge badge-green">New</span></a></li>
                        <li><a href="javascript:void(0)" ui-sref-active="cur" ui-sref="main.activity"><i class="icon7p-activity"></i> Activity</a></li>
                        <li><a href="javascript:void(0)" ui-sref="main.info" ng-class="{cur: $state.current.name === 'main.info' || $state.current.name === 'main.info-detail'}"><i class="icon7p-info"></i> Info <span class="badge badge-grey">4</span></a></li>
                        <li><a href="javascript:void(0)" ui-sref="main.calendar" ng-class="{cur: $state.current.name === 'main.calendar'}"><i class="icon7p-calendar"></i> Calendar</a></li>
                        <!-- <li class="separator"></li> -->
                        <!-- <li><a href="javascript:void(0)"><i class="icon7p-message"></i> <span class="visible-md">Send Feedback</span></a></li>
                        <li><a href="javascript:void(0)"><i class="icon7p-about"></i> <span class="visible-md">About</span></a></li> -->
                    </ul>
                    <div class=" tiles white col-md-12 no-padding animated fadeIn" ng-if="$state.current.name === 'main.profile'" ng-controller="UpdateProfilePict">
                        <div class="school-info">
                            <div class="user-profile-pic clearfix">
                                <label class="foto-upload">
                                    <i class="fa fa-upload"></i>
                                    <input type="file" nv-file-select="" uploader="uploader" ngf-select="onFileSelect($files)"  accept="image/*"/>
                                    <img width="69" height="69"  ng-src="{{ appAuth.profile.avatar ? (appAuth.profile.avatar|apiFile:'avatar') : 'assets/img/profiles/bc.jpg'}}" alt="" />
                                </label>
                                <h4 class="school-name" ng-bind="appAuth.profile.name"></h4>
                                <h5 class="class-name" ng-bind="appAuth.profile._class.name"></h5>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-md-9 {{containerClass}}" ui-view="">
                </div>
            </div>
            <!-- END PAGE -->
        </div>
    </div>
</div>
