<div class="page-title"> <a href="javascript:void(0)" ui-sref="main.portfolio" id="btn-back"><i class="fa fa-arrow-left"></i></a>
    <h3>Back- <span class="semi-bold">Portfolio</span></h3>
</div>
<ul class="cbp_tmtimeline cd-detail">
    <li class="m-b-30 no-margin">
        <div class="cbp_tmlabel">
            <div class="post-content">
                <span class="time">10:05 <span class="semi-bold">am</span></span>
                <h6 class="semi-bold pull-left m-l-10 m-t-20 m-r-10">
                From :
                </h6>
                <div class="profile-pic"> <img width="35" height="35" src="assets/img/profiles/cute.jpg" alt=""> </div>
                <div class="inline m-b-5">
                    <h4 class="semi-bold pull-left">
                    John Doe
                    <span class="muted">Teacher</span>
                    </h4>
                </div>
                <hr class="no-margin dashed"/>
                <article class="portfolio-detail">
                    <h3 class="title pull-left m-r-20">Portfolio Title</h3>
                    <div class="tag pull-right">
                        <strong>Tags :</strong>
                        Sport, Math, Art
                    </div>
                    <div class="clear"></div>
                    <h6 class="semi-bold pull-left m-t-30 m-r-10">
                    By :
                    </h6>
                    <div class="profile-pic"> <img width="35" height="35" src="assets/img/children.jpg" alt=""> </div>
                    <div class="inline m-b-5">
                        <h4 class="semi-bold pull-left m-t-20">
                        Grace Andhita Puspasari
                        </h4>
                    </div>
                    <div class="clear"></div>
                    <p class="dark-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                    Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
                    </p>
                </article>
                <div class="photo collage-big clearfix" collage-plus="{'targetHeight': 500, 'direction': 'horizontal'}">
                    <div class="work-masonry-thumb" ><a href="assets/img/photo/1.jpg" class="gallery-portfolio" ng-click="preventDefault($event)"><img src="assets/img/photo/1.jpg" alt="" /></a></div>
                    <div class="work-masonry-thumb" ><a href="assets/img/photo/2.jpg" class="gallery-portfolio" ng-click="preventDefault($event)"><img src="assets/img/photo/2.jpg" class="" alt="" /></a></div>
                    <div class="work-masonry-thumb" ><a href="assets/img/photo/4.jpg" class="gallery-portfolio" ng-click="preventDefault($event)"><img src="assets/img/photo/4.jpg" class="work-masonry-thumbx" alt="" /></a></div>
                    <div class="work-masonry-thumb" ><a href="assets/img/photo/5.jpg" class="gallery-portfolio" ng-click="preventDefault($event)"><img src="assets/img/photo/5.jpg" class="work-masonry-thumbx" alt="" /></a></div>
                    <div class="work-masonry-thumb" ><a href="assets/img/photo/7.jpg" class="gallery-portfolio" ng-click="preventDefault($event)"><img src="assets/img/photo/7.jpg" class="work-masonry-thumbx" alt="" /></a></div>
                    <div class="work-masonry-thumb" ><a href="assets/img/photo/8.jpg" class="gallery-portfolio" ng-click="preventDefault($event)"><img src="assets/img/photo/8.jpg" class="work-masonry-thumbx" alt="" /></a></div>
                    <div class="work-masonry-thumb" ><a href="assets/img/photo/6.jpg" class="gallery-portfolio" ng-click="preventDefault($event)"><img src="assets/img/photo/6.jpg" class="work-masonry-thumbx" alt="" /></a></div>
                    <div class="work-masonry-thumb" ><a href="assets/img/photo/3.jpg" class="gallery-portfolio" ng-click="preventDefault($event)"><img src="assets/img/photo/3.jpg" class="work-masonry-thumbx" alt="" /></a></div>
                </div>
                <colorbox box-for=".gallery-portfolio" />
                <div class="user-action">
                    <a class="muted pull-left" href="javascript:void(0)"><i class="fa fa-comment"></i> 10 Comments</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="p-b-10 p-l-10 p-r-10 p-t-10 tiles grey">
                <div class="inline pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Write a comment">
                    <span class="input-group-addon primary"> <span class="arrow"></span><i class="glyphicon glyphicon-send"></i> </span> </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </li>
</ul>