<div class="grid simple">
    <section class="grid-body no-border" cg-busy="promiseProfile">
        <div class="row">
            <div class="col-md-12 border-right" ng-if="appAuth.data.role == 'teacher'">
                <h3>
                    <span class="semi-bold">
                        Teacher
                    </span>
                    Information
                </h3>
                <div class="form-group">
                    <label class="form-label">
                        Name
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="profile.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        Email
                    </label>
                    <div class="controls">
                        <input type="email" class="form-control" disabled="disabled" ng-model="profile.email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        Connect to Microsoft
                    </label>
                    <div class="controls">
                        <button ng-click="connectMicrosoft()" type="button" class="btn btn-cons" style="background-color: transparent !important;" ng-hide="profile.azure">
                            <img src="assets/img/microsoft_logo.png" />
                        </button>
                        <button ng-click="disconnectMicrosoft()" type="button" class="btn btn-cons" style="background-color: transparent !important;" ng-show="profile.azure">
                            <i class="fa fa-times"></i> <span ng-bind="profile.azure.displayName"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-right" ng-if="appAuth.data.role == 'parent'">
                <h3>
                    <span class="semi-bold">
                        Parent
                    </span>
                    Information
                </h3>
                <div class="form-group">
                    <label class="form-label">
                        Name
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="profile.name" />
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="form-label">
                        Status
                    </label>
                    <div class="controls">
                        <div class="radio">
                            <input id="mother" type="radio" name="status" value="mother" checked="checked" />
                            <label for="mother">
                                Mother
                            </label>
                            <input id="father" type="radio" name="status" value="father" />
                            <label for="father">
                                Father
                            </label>
                            <input id="other" type="radio" name="status" value="other" />
                            <label for="other">
                                Other (Brother, siblings, etc)
                            </label>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="form-label">
                        Email
                    </label>
                    <div class="controls">
                        <input type="email" class="form-control" disabled="disabled" ng-model="profile.email" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        Connect to Microsoft
                    </label>
                    <div class="controls">
                        <button ng-click="connectMicrosoft()" type="button" class="btn btn-cons" style="background-color: transparent !important;" ng-hide="profile.azure">
                            <img src="assets/img/microsoft_logo.png" />
                        </button>
                        <button ng-click="disconnectMicrosoft()" type="button" class="btn btn-cons" style="background-color: transparent !important;" ng-show="profile.azure">
                            <i class="fa fa-times"></i> <span ng-bind="profile.azure.displayName"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-if="appAuth.data.role == 'parent'">
                <h3>
                    <span class="semi-bold">
                        Children
                    </span>
                    Information
                </h3>
                <div class="form-group">
                    <label class="form-label">
                        Name
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" disabled="disabled" ng-model="profile._student[0].name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        Class
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" disabled="disabled" ng-model="profile._student[0]._class" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        Email
                    </label>
                    <div class="controls">
                        <input type="email" class="form-control" disabled="disabled" ng-model="profile._student[0].email" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-cons-md" ng-click="updateProfile(profile)">
                    Update Profile
                </button>
            </div>
        </div>
    </section>
    <hr />
    <section class="grid-body no-border" cg-busy="promisePassword">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Change
                    <span class="semi-bold">
                        Password
                    </span>
                </h3>
                <div class="form-group">
                    <label class="form-label">
                        Current Password
                    </label>
                    <div class="controls">
                        <input type="password" class="form-control" ng-model="password.oldPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        New Password
                    </label>
                    <div class="controls">
                        <input type="password" class="form-control" ng-model="password.newPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        Repeat New Password
                    </label>
                    <div class="controls">
                        <input type="password" class="form-control" ng-model="password.confirmPassword" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-cons-md" ng-click="updatePassword(password)">
                    Update Password
                </button>
            </div>
        </div>
    </section>
</div>
