<div id="login-page" class="container">
    <div class="row login-container column-seperation">
        <div class="col-md-5 col-md-offset-1">
            <h2>Communication platform for school</h2>
            <p>7Pagi is  a School's Private Media that can be used by Teachers and Parents. 7Pagi helps The Teacher to send school's information about kids to the Parent. To get a Sign in account, please contact the school administrator, or you can register your school via email to halo@7Pagi.com. 
              <br />To try 7Pagi Applications, please login through Office 365 using this account:</p>

            <p><strong>Teacher's Account</strong>
            <br/>Username : teacher@7Pagi.com
            <br/>Password : 7Pagi123</p>

            <p><strong>Parent's Account</strong>
            <br/>Username : parent@7Pagi.com
            <br/>Password : 7Pagi123</p>

        </div>
        <div class="col-md-5 " cg-busy="promise"> <br />
            <form id="form-login" name="form" class="animated fadeIn" ng-submit="onFormSubmit(form)">
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label">Username</label>
                        <div class="controls">
                          <div class="input-with-icon  right">
                            <i class=""></i>
                                <input type='text' name='username' id='username' value='' class="form-control" placeholder="Username" ng-model="data.email" required>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label">Password</label>
                        <span class="help"></span>
                        <div class="controls">
                          <div class="input-with-icon  right">
                            <i class=""></i>
                                <input  type='password' name='password' value=''  class="form-control" placeholder="Password" ng-model="data.password" required>
                                <p class="help-block text-warning animated fadeIn" ng-if="responseCode == 401"><em>Username or Password not valid</em></p>
                                <p class="help-block text-warning animated fadeIn" ng-if="responseCode > 401"><em>Server Error</em></p>
                                <p class="help-block text-warning animated fadeIn" ng-if="responseCode <= 0"><em>Unknown error</em></p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 btn-area">
                        <!-- <label class="checkbox-wrapper pull-left">
                            <input name="remember_me" type="checkbox" />
                            Remember me
                        </label>
                        -->
                        <a href="javascript:void(0)" class="m-t-20" ui-sref="reset-password">Forgot Your password?</a>
                        <button class="btn btn-primary btn-cons pull-right" type="submit" value="LOGIN">Login</button>
                        <input type='hidden' name='login' id='login' value='true' />
                    </div>
                    <div class="col-md-10 text-center">
                        <hr />
                        <button ng-click="connectMicrosoft()" type="button" class="btn btn-o365">
                            Login via <img src="assets/img/microsoft_logo.png" />
                        </button>
                    </div>
                </div>
        </form>
        </div>
  </div>
</div>

<div class="col-md-offset-1 col-md-10 login-footer">
    <div class="m-b-10 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
        <div class="col-sm-3 col-md-2">
          <img alt="" class="m-t-5" height="40" src="assets/img/logo-biru-footer.png" alt="" />

        </div>
        <div class="col-sm-9 no-padding m-t-10">
            <p>
                <small>Media Interaksi Digital Sekolah. Untuk informasi lebih mengenai 7Pagi, silahkan email kami di <a href="mailto:halo@7Pagi.com"><i><small>halo@7Pagi.com</small></i></a>.<br>@2016</small>
            </p>
        </div>
    </div>
</div>
