@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
/*!
* direction.less v0.1.0
*/
:-moz-placeholder {
  color: '#333843';
}
::-moz-placeholder {
  color: '#333843';
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: '#333843';
}
::-webkit-input-placeholder {
  color: '#333843';
}

.placeholder {
  color: '#333843';
}
html {
  font-size: 100%;
  height: 100%;
}

body {
  direction: ltr;
  background-color: #f6f8fa;
  color: #6f7b8a;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  height: 100%;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #505458;
}

/* Typography */
h1, h2, h3, h4, h5, h6{
	margin:10px 0;
}
h1{
	line-height:43px
}
h2{
	line-height:35px
}
h3{
	line-height:30px
}
h4{
	line-height:22px
}

h3 small, h4 small, h5 small {
  font-weight: 300;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color:#505458
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  padding-bottom: 10px;
}

label, input, button, select, textarea{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

p{
    margin: 0 0 10px;
    line-height: 22px;
    font-size: 14px;
}

input[type=radio], input[type=checkbox]{
    top: 3px;
    position: relative;
}

a {
  text-shadow: none !important;
  color: #2ABECB;
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s  !important;
}

a,a:focus, a:hover, a:active {
  outline: 0;
  text-decoration:none;
}
i{
	font-size:14px
}
label.inline{
	display:inline-block;
	position:relative;
	top:0px;
	font-size: 13px;

}
ul > li {
	padding-left:6px;
	line-height:20px;
}
address{
	margin-bottom:0px;
}
blockquote{
	 padding: 0 0 0 18px;
	  border-left: 5px solid #EEEEEE;
}
blockquote p{
	font-size:16px
}
blockquote small:before{
	 content: "";
}
blockquote.pull-right small:after{
	content: "";
}
blockquote small{
	line-height: 29px;
	color:#8b91a0;
}
.logo{
	/* margin:18px 10px;*/ /* conflict to main page logo */
}

.normal{
	font-weight:normal;
}

.semi-bold{
	font-weight:600;
}

.bold{
	font-weight:bold;
}

.all-caps{
	text-transform:uppercase;
}
.light{
	font-weight:300 !important;
}
.text-extra-small{
	font-size:10.5px !important;
}
.small-text{
	font-size:12px !important;
}

.normal-text{
	font-size:13px !important;
}

.large-text{
	font-size:15px !important;
}

.center-text{
	text-align:center !important;
}
.muted {
	color:#b6bfc5;
}

.login-container{
    margin-top:13%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group .form-label {
    color: #55606e;
    display: inline-block;
    margin-right: 8px;
}

.form-group .controls {
    margin-top: 8px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon.right input {
    padding-left: 12px !important;
    padding-right: 33px !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control {
    border: 1px solid #E5E9EC;
    font-size: 13px;
}

.uneditable-input, textarea,    input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-appearance: none !important;
    color: #282323;
    outline: 0;
    height: 16px;
    padding: 6px 11px !important;
    line-height: 15px;
    font-size: 13px;
    font-weight: normal;
    vertical-align: top;
    background-color: #fff;
    min-height: 37px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e5e9ec;
    transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

/* Buttons Overwride */
.btn {
    display: inline-block;
     padding: 9px 12px;
	 padding-top:7px ;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #d1dade;
    -webkit-border-radius: 3px;
     -webkit-border-radius: 3px;
     -webkit-border-radius: 3px;
	background-image:none !important;
	border: none;
	text-shadow: none;
	box-shadow:none;
    transition: all 0.12s linear 0s !important;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn:focus{
	outline:none;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #c1cace;
}
.btn-cons{
	margin-right: 5px;
	min-width: 120px;
	margin: 10px 0;
}
/* only for demonstration */
.btn-demo-space{
  margin-bottom: 8px;
}
.demo-placeholder{
	width:100%;
	height:250px;
}
/* */
.btn-social{
	font-size: 20px;
    margin: 10px;

}
.btn-social:hover, .btn-social:focus, .btn-social:active, .btn-social.active, .btn-social.disabled, .btn-social[disabled] {
	color:#2d8ebf;
	text-decoration:none;
}
.btn-primary {
  color: #ffffff;
  background-color: #2ABECB;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #27B2BE;
}
.btn-success{
	color: #fff;
    background-color: #0090d9;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #1285d1;
}
.btn-info{
	color: #fff;
    background-color: #1f3853;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #152639;
}
.btn-warning{
	color: #fff;
    background-color: #FBB05E;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f8a142;
}

.btn-danger{
	color: #fff;
    background-color: #f35958;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #e94847;
}

.btn-danger-dark{
	color: #fff;
    background-color: #b94141;
}
.btn-danger-dark:hover, .btn-danger-dark:focus, .btn-danger-dark:active, .btn-danger-dark.active, .btn-danger-dark.disabled, .btn-danger-dark[disabled] {
    background-color: #e94847;
	color: #fff;
}
.btn-dark{
	color: #fff;
    background-color: #333a49;
}
.btn-white{
	color: #5e5e5e;
    background-color: #fff;
	border:1px solid #e5e9ec;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
    background-color: #fbfcfd;
	border:1px solid #b4b9be;
}
.btn-link{
	color: #5e5e5e;
    background-color: transparent;
	border:none;
}
.btn-large {
    padding: 11px 19px;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .btn-link.disabled, .btn-link[disabled] {
    background-color: transparent;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small {
    padding:3px 12px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -1px;
}
.btn-mini {
    padding:2px 9px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0b9c8f;
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #fbc01e;
}
.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #e94847;
}
.btn-group.open .btn-success.dropdown-toggle {
    background-color: #0090d9;
}
.btn-group.open .btn-info.dropdown-toggle {
    background-color: #152639;
}
.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222;
}

.btn-group.open .btn-white.dropdown-toggle {
    background-color: #fbfcfd;
}
.btn-group > .btn + .dropdown-toggle{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	border-left:1px #f7f7f7 solid;
}
.btn-block + .btn-block {
	margin-top: 8px;
}
.btn .caret{
	margin-left: 3px;
}
.btn .caret.single{
	margin-left: 0px;
}
.btn-group > .dropdown-menu{
	font-size:13px;
}
.btn-group > .dropdown-menu li{
	 padding-left: 0px;
}

.sm-pull-bottom, .sm-pull-up {
    position: relative !important;
}

.pull-bottom {
    position: absolute !important;
    bottom: 0;
}

.no-padding {
    padding: 0px !important;
}


.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.spacing-bottom {
  margin-bottom: 30px;
}
.inherit-size {
  width: inherit;
  height: inherit;
}
.inherit-height {
  height: inherit;
}
.v-align-bottom {
  vertical-align: bottom;
  display: table-cell;
}
.v-align-top {
  vertical-align: top;
  display: table-cell;
}
.v-align-middle {
  vertical-align: middle;
  display: table-cell;
}
.h-align-middle {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-l-5 {
  padding-left: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-l-10 {
  padding-left: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-r-25 {
  padding-right: 25px;
}
.p-l-25 {
  padding-left: 25px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-r-30 {
  padding-right: 30px;
}
.p-l-30 {
  padding-left: 30px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-t-35 {
  padding-top: 35px;
}
.p-r-35 {
  padding-right: 35px;
}
.p-l-35 {
  padding-left: 35px;
}
.p-b-35 {
  padding-bottom: 35px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-r-40 {
  padding-right: 40px;
}
.p-l-40 {
  padding-left: 40px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-t-45 {
  padding-top: 45px;
}
.p-r-45 {
  padding-right: 45px;
}
.p-l-45 {
  padding-left: 45px;
}
.p-b-45 {
  padding-bottom: 45px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-r-50 {
  padding-right: 50px;
}
.p-l-50 {
  padding-left: 50px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-t-55 {
  padding-top: 55px;
}
.p-r-55 {
  padding-right: 55px;
}
.p-l-55 {
  padding-left: 55px;
}
.p-b-55 {
  padding-bottom: 55px;
}
.p-t-60 {
  padding-top: 60px;
}
.p-r-60 {
  padding-right: 60px;
}
.p-l-60 {
  padding-left: 60px;
}
.p-b-60 {
  padding-bottom: 60px;
}
.p-t-65 {
  padding-top: 65px;
}
.p-r-65 {
  padding-right: 65px;
}
.p-l-65 {
  padding-left: 65px;
}
.p-b-65 {
  padding-bottom: 65px;
}
.p-t-70 {
  padding-top: 70px;
}
.p-r-70 {
  padding-right: 70px;
}
.p-l-70 {
  padding-left: 70px;
}
.p-b-70 {
  padding-bottom: 70px;
}
.p-t-75 {
  padding-top: 75px;
}
.p-r-75 {
  padding-right: 75px;
}
.p-l-75 {
  padding-left: 75px;
}
.p-b-75 {
  padding-bottom: 75px;
}
.p-t-80 {
  padding-top: 80px;
}
.p-r-80 {
  padding-right: 80px;
}
.p-l-80 {
  padding-left: 80px;
}
.p-b-80 {
  padding-bottom: 80px;
}
.p-t-85 {
  padding-top: 85px;
}
.p-r-85 {
  padding-right: 85px;
}
.p-l-85 {
  padding-left: 85px;
}
.p-b-85 {
  padding-bottom: 85px;
}
.p-t-90 {
  padding-top: 90px;
}
.p-r-90 {
  padding-right: 90px;
}
.p-l-90 {
  padding-left: 90px;
}
.p-b-90 {
  padding-bottom: 90px;
}
.p-t-95 {
  padding-top: 95px;
}
.p-r-95 {
  padding-right: 95px;
}
.p-l-95 {
  padding-left: 95px;
}
.p-b-95 {
  padding-bottom: 95px;
}
.p-t-100 {
  padding-top: 100px;
}
.p-r-100 {
  padding-right: 100px;
}
.p-l-100 {
  padding-left: 100px;
}
.p-b-100 {
  padding-bottom: 100px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-55 {
  margin-top: 55px;
}
.m-r-55 {
  margin-right: 55px;
}
.m-l-55 {
  margin-left: 55px;
}
.m-b-55 {
  margin-bottom: 55px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-r-60 {
  margin-right: 60px;
}
.m-l-60 {
  margin-left: 60px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-t-65 {
  margin-top: 65px;
}
.m-r-65 {
  margin-right: 65px;
}
.m-l-65 {
  margin-left: 65px;
}
.m-b-65 {
  margin-bottom: 65px;
}
.hide {
  display: none;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.no-bg{background: none !important}

.orange{color: #eb3c00;}
.underline{text-decoration: underline}

.btn-area a{display: inline-block}
.btn-o365{
    background: #E83F24 !important;
    padding: 2px 10px 2px 15px;
    color: white;
}
.btn-o365:hover{
    color: white;
    opacity: .8;
}
.login-footer{
    position: absolute;
    bottom: 0;
}
