<div class="page page-core page-login" style="margin-top: 25px;">

  <div class="container w-420 p-15 bg-white mt-40 text-center" style="border: 1px solid #dbe0e2;" cg-busy="promise">


    <h2 class="text-light text-greensea">Log In</h2>

    <form name="form" class="form-validation mt-20" ng-submit="onFormSubmit(form)" novalidate>

      <div class="form-group">
        <input type="email" class="form-control underline-input" placeholder="Email" ng-model="data.email" required>
      </div>

      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control underline-input" ng-model="data.password" required>
      </div>

      <div class="form-group text-left mt-20">
        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-disabled='form.$invalid'>Login</button>
        <!-- <a ui-sref="core.forgotpass" class="pull-right mt-10">Forgot Password?</a> -->
      </div>

    </form>

  </div>

</div>